<launch>


  <!-- Map server -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/hustar_office_edit.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp5.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp6.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/kiria_office_final.yaml"/> -->
    <arg name="map_file" default="$(find zetabank_navigation)/maps/kiria_office_final2.yaml"/>
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp8.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp9.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp11.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp13.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp14.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp15.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_ver2_1.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_123.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/zoffice_n1.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_sp_234.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_hallow.yaml"/> --> <!-- resolution 0.01 -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_B1.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_4f.yaml"/> -->
    <!-- <arg name="map_file" default="$(find zetabank_navigation)/maps/dgcity_4f_1.yaml"/> -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

  <!-- AMCL -->
  <include file="$(find zetabank_navigation)/launch/amcl.launch.xml"/>

  <!-- move_base -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
   
    <rosparam file="$(find zetabank_navigation)/normal_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find zetabank_navigation)/normal_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find zetabank_navigation)/normal_param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find zetabank_navigation)/normal_param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find zetabank_navigation)/normal_param/move_base_params.yaml" command="load" />
    <rosparam file="$(find zetabank_navigation)/normal_param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find zetabank_navigation)/normal_param/global_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

  <node pkg="autonomous_navigation" type="initializeAMCLParticles" name="AMCL_particles" />

  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" output="screen" required="true"/>

  <node pkg="robot_turn" type="robot_turn" name="robot_headingturn" output="screen" required="true"/>

</launch>
