<launch>
  
  <rosparam file="$(find zetabot_main)/param/normal_operater.yaml" command="load" />

  <include file="$(find zetabank_bringup)/launch/zetabank_remote.launch" />

  <include file ="$(find sick_safetyscanners)/launch/sick_safetyscan_front.launch" />
  <include file ="$(find sick_safetyscanners)/launch/sick_safetyscan_rear.launch" />

  <node pkg="zetabank_bringup" type="zetabank_diagnostics" name="zetabank_diagnostics" output="screen" required="true"/>

  <include file="$(find zeta_mdrobot_motor_control)/launch/mdmc.launch" />
  
</launch>
